.page{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px 0;
  gap: 2em;
  margin: 20px 0;
  && button{
    width: 150px;
    padding: 4px 0;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
  }&& input{
    width: 70px;
    padding: 4px 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 8px;
  }&& button:hover{
    background-color: blue;
    color:white;

  }
}
@media (max-width:480px) {
  .page{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 0;
    gap: 1em;
    margin: 20px 0;
    && button{
      width: 100px;
      font-size: 18px;
    }
  }
}