.card{
  width: 300px;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 3px ;
  background-color: rgba(255, 255, 255, 0.308);
}
.card-p{
  font-weight: bold;
  font-size: 20px;
}
.card-contenedor-img{
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.card-img{
  width: 98%;
  height: 300px;
  border-radius: 10px;
}
.card-img:hover{
  transform: scale(1.1);
}

.card:hover{
  cursor: pointer;

}
@media (max-width:800px) {
  .card{
    width: 200px;
  }
  .card-contenedor-img{
    width: 100%;
  }
  .card-img{
    height: 200px;
  }
}
@media (max-width:480px) {
  .card{
    width: 150px;
    padding: 2px;
    overflow: hidden;
  }
  .card-p{
    font-weight: bold;
    font-size: 12px;
  }
  .card-h6{
    padding: 3px;
    text-align: justify;
    font-size: 8px;
  }
  .card-contenedor-img{
    width: 100%;
  }
  .card-img{
    height: 180px;
  }
}
