.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
  background-color: rgba(0, 0, 255, 0.507);
}
.header-h1 {
  color: white;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
}
.header-img {
  width: 80px;
  position: absolute;
  top: 12px;
  left: 29px;
}
.header-img:hover {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .header {
    padding: 5px 0;
  }
  .header-h1 {
    margin: 25px 0;
    font-size: 20px;
  }
  .header-img {
    width: 60px;
  }
}
