*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url('../public/backgroundMarvel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

