.card2{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 10px;
}
.card2-contenedor{
  display: flex;

}
.card2-contenedor-img{
  width: 50%;
  overflow: hidden;
}
.card2-informacion{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 2em;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
@media (max-width:800px) {
  .card2-contenedor-img{
    height: 400px;
  }
  .card2-img{
    width: 100%;
    height: 100%;
  }

}
@media (max-width:480px) {
  .card2-contenedor{
    display: flex;
    flex-direction: column-reverse;
  }
  .card2-contenedor-img{
    width: 100%;
    overflow: hidden;
  }
  .card2-img{
    width: 100%;
    height: 400px;
  }
  .card2-informacion{
    width: 100%;
    padding:10px;
  }
}